/* Shutter */
body {
height: 100%;
}
* #shNewShutter, * #shNewDisplay {
padding: 0;
margin: 0;
}
#shNewShutter {
top: 0;
left: 0;
height: 100%;
width: 100%;
position: fixed;
z-index: 1000;
background-color: #000000;
opacity: 0.8;
filter:alpha(opacity=80);
}
#shNewDisplay {
position: fixed;
left: 0;
top: 0;
width: 100%;
overflow: hidden;
text-align: center;
background-color: transparent;
z-index: 1002;
}
#shNewDisplay #shTopImg {
margin: 0 auto;
border: 1px solid #555;
padding: 2px;
background: transparent;
display: block;
cursor: pointer;
max-width: none;
max-height: none;
}
table#shWrap {
margin: auto;
height: auto;
width: auto;
}
#shNewDisplay #shWrap td {
text-align: center;
}
#shNewDisplay #shTextWrap a {
text-decoration: none;
font: bold 16pt 'Courier New', Courier, fixed;
letter-spacing: -2px;
margin: 0 10px;
width: 26px;
color: #999999;
}
.sh_arrows {
vertical-align: top;
}
#shNewDisplay #shTextWrap a:hover {
color: #fff;
border: none;
}
#shNewDisplay #shTextWrap #sh_prev {
float: left;
}
#shNewDisplay #shTextWrap #sh_next {
float: right;
}
#shNewDisplay #shTextWrap #shTitle {
font: normal 13px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
line-height: 19px;
color: #ffffff;
}
#shNewDisplay #shWaitBar {
font: bold 32px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
height: 36px;
width: 100%;
left: 0;
cursor: default;
opacity: 0.999;
filter: alpha(opacity=100);
z-index: 1001;
display: none;
margin-top: 160px;
color: #ae0a0a;
}

* html #shNewShutter { 
_position: absolute;
_top: 0;
_left: 0;
_height: expression( eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollHeight : document.body.scrollHeight );
_width: expression( eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollWidth : document.body.scrollWidth );
_overflow: hidden;
}

* html #shNewDisplay {
_position: absolute;
_top: expression( eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop : document.body.scrollTop );
filter: alpha(opacity=100);
_overflow: hidden;
}
